# Exclude directoare inutile
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store

# Exclude fișiere mari sau temporare
*.csv
model_training/datasets/
*saved_models/
FakeNewsNet_scrape/
*.ipynb_checkpoints/
logs*/
results*/
*.bin
*.txt
*checkpoint*/
*chkpts*/
model_training/notebooks/TextAttack/roberta_adv_finetuned
model_training/notebooks/welFake_nb/roberta_kfold